<html>
<head>
<meta charset="UTF-8">
<style>
<style>
  small{
    color: #999999;
  }
  dt{
    margin-top:1.5em;
  }
  .tips{
    margin: 10px;
    padding: 15px;
    word-break:break-all;
    box-shadow:4px 4px 4px rgba(0,0,0,0.4);
    width:800px;
    background:#ffdddd;
  }
  .caution{
    margin: 10px;
    padding: 15px;
    word-break:break-all;
    box-shadow:4px 4px 4px rgba(0,0,0,0.4);
    width:800px;
    background:#ddddff;
  }
  #license{
    margin-top: 10em;
    font-size: medium;
  }
</style>
<title>{{ page.title }}</title>
</head>
<body>
  {{ content }}


<h1 id="license">表示</h1>
<p>この文章を無断で紹介・翻案・改変・再配布することはむしろ推奨されています。</p>
<p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.ja"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />この文章は <a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.ja">クリエイティブ・コモンズ 表示 4.0 国際 ライセンス</a>の下に提供されています。</p>
<p>元の版を書いた人: @gforest_shade</p>
</body>
